.main-wrapper
    background-color: #fff
    .first-wrapper
        background: url('../../img/bg1.jpg');
        background-size: cover
        background-position: center
        min-height: 400px
        height: 100%
    .catalog-wrapper
        padding: 35px 70px
        h1
            font-size: 48px
            font-weight: 200
        .catalog-wrapper-flex
            position: relative
            display: flex
            flex-direction: row
            justify-content: space-evenly
            align-items: center
            .product-wrapaper
                width: 350px
                position: relative
                padding: 15px 25px
                border-radius: 10px
                position: relative
                overflow: hidden
                cursor: pointer
                a
                    text-decoration: none
                    color: #000
                &:hover
                    .image-wrapper
                        img
                            transform: scale(1.05)    
                .image-wrapper
                    img
                        transition: all .5s ease
                        width: 100%
                        max-height: 400px
                        height: 100%
                        border-radius: 10px
                        object-fit: cover
                .name-wrapper   
                    width: 100%
                    
                    p
                        font-size: 22px
                        font-weight: 600
                        line-height: 15px
                .price-wrapper
                    margin-bottom: 25px
                    .discount-wrapper
                        display: flex
                        
                        .defult-price
                            font-size: 18px
                            color: #ccc
                            text-decoration: line-through
                            margin: 0
                            margin-right: 25px
                        .discount-wrapper
                            font-size: 20px
                            color: #FF0033
                            margin: 0                   

@keyframes fadeIn
    0%
        opacity: 0
        bottom: -80px
    50%
        opacity: 1
        bottom: -30px
    100%
        opacity: 1
        bottom: 0px
@keyframes fadeOut
    0%
        opacity: 1
        bottom: 0px
        
    50%
        opacity: 1
        bottom: -30px
    100%
        opacity: 0
        bottom: -80px
        
                        